
  #copyright{
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background-color: rgb(6, 6, 135);
  }
 
footer{
  position: relative;
}

@media screen and (max-width: 750px) {
  footer{
    height: 50px;
  }
  #copyright{
    width: 100vw;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    background-color: rgb(6, 6, 135);

  
  }
 
}