.navbar{
  height: 47px;
}
.nav-menu{
  height: 47px;
}
  .nav-item {
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 47px;
    height: 47px;
    width: 250px;
    float: left;
    background-color: rgb(6, 6, 135);
    color: #ffffff;
  }
  
  .fa-bars {
    color: #000000;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
  
  .nav-item{
text-align: center;
  }
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 80px;
      left: -120%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  .nav-item{
    width: 100vw;
    height: 15vh;
    line-height: 15vh;
  }
    .nav-menu.active {
     
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 10;
    }
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #000000;
      font-size: 2rem;
    }
  

    
  }