
#footer_1{
    height: 320px;
    background-color: #eeeeee;
    padding-top: 45px;
    padding-left: 45px;
    
}
#footer_1 h3{
    margin-top: 0;
    
}
#footer_1 li{
    margin-bottom: 10px;
}
#footer_1 a{
    color: #202d74;
}
#fot_1,#fot_2,#fot_3,#fot_4,#fot_5{
    float: left;
    font-size: 14px;
    margin-right: 55px;
    margin-top: 0;
}
#fot_5{
    margin-right: 0;
}

#footer_2 {
    font-size: 12px;
    height: 98px;
    margin-top: 20px;
}

#footer_2 li{
    float: left;
    width: 201px;
    text-align: center;
}

#footer_2 li:nth-last-child(){
margin-right: 0;
}





@media screen and (max-width: 750px) {
    #footer0{
    display: none;
    }
}